#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.articles-list {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  text-align: center;
}

.nav-bar {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-item {
  padding: 2rem;
  
}

.article-body {
  text-align: left;
}

.comment {
  list-style: none;
  text-align: left;
  border: solid;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgb(238, 238, 238);
}