#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  all: unset;
}

h1 {
  width: 90vw;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.welcome-msg {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.articles-topics {
  width: 90vw;
  margin-left: auto;
  margin-bottom: 1em;
}

.topic-list {
  list-style: none;
}


.articles-list {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  text-align: center;
  
}

.nav-bar {
  width: 90vw;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.radio-buttons {
  width: 90vw;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75em;  
  margin-bottom: 1.5em;
}

.nav-item {
  padding: 2rem;
  
}

.article-image{
  width: 75%;
}

.card{
  background-color: rgb(186, 186, 186);
  border: solid rgb(186, 186, 186);
  min-height: 32rem;
  
}

.card-body{
  background-color: rgb(186, 186, 186);
}

.article-body {
  text-align: left;
  width: 100%;
}

.comment {
  width: 100%;
  list-style: none;
  text-align: left;
  border: solid;
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgb(56, 56, 56);
}

.button {
  padding: 0.5em;
  background-color: blueviolet;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.912);
  margin-top: 0.7em;
}


.error-msg {
  margin: 1em;
  color: red;
  font-size: 1em;
  font-weight: bold;
}

.success-msg {
  margin: 1em;
  color: blueviolet;
  font-size: 1em;
}

.comment-input {
  width: 60%;
  height: 6em;
  background-color: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
}

.bad-input {
  width: 60%;
  height: 6em;
  background-color: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
  border: solid red;
}

.spinner-border {
  color: rgb(113, 77, 242);
}

.delete-button {
margin-left: 80%;
}

.button-spinner {
  color: white;

}

.sort-buttons {
  margin: 0.75em;
}


